#container {
    font-family: sans-serif;
}
.nav-bar, .content, .card, .card-1, .word {
    display: flex;
}
.nav-bar, .content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.nav-bar {
    justify-content: space-between;
    background-color: lightslategrey;
    align-items: center;
}
#nav-title {
    margin-left: 20px;
}
#login {
    margin-right: 20px;
}
.content {
    margin-top: 20px;
}
.left-side {
    margin-right: 20px;
}
.right-side {
    width: 100%;
}
.card ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
}
.card ul span {
    font-style: italic;
}
.card, .card-1 {
    align-items: center;
    border: #000000 2px solid;
}
.card-1, .word {
    flex-direction: column;
    padding-bottom: 20px;
}
.card {
    margin-bottom: 20px;
    width: 600px;
}
.definition {
    width: 250px;
    margin: auto;
    font-size: 20px;
}
.word {
    justify-content: center;
    margin: 20px;
}
.word h1, .noun, .more {
    text-align: center;
    margin-bottom: 3px;
}
.word h1 {
    margin: 0px;
    font-size: 40px;
}
.word input, .card-1 input, #login {
    box-shadow: 2px 2px #000000;
}
.word input {
    background-color: #fdd835;
}
.card-1 input {
    background-color: #9ccc65;
    width: 200px;
}
#login {
    background-color: #1e88e5;
    color: #ffffff;
}
#search {
    width: 400px;
}
.noun, .more {
    font-size: 20px;
}
.card-1 {
    font-size: 30px;
}